<!DOCTYPE html>
<html>
<head>
  <title>burgers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

</head>
<body>
  {{{ body }}}
</body>
</html>